force-app/main/default/flows/CambiarEstadoProyecto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BucleSpecial.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hecho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BucleSpecial</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CambiarEstadoProyecto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CambiarEstadoProyecto</label>
    <loops>
        <name>BucleSpecial</name>
        <label>BucleSpecial</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Obtener_Tareas_del_Proyecto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Modi</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Tareas_del_Proyecto</name>
        <label>Obtener Tareas del Proyecto</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BucleSpecial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Proyecto__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tarea__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estado__c</queriedFields>
        <queriedFields>Fecha_de_vencimiento__c</queriedFields>
        <sortField>Fecha_de_vencimiento__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Modi</name>
        <label>Modi</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Proyecto__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Tareas_del_Proyecto</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hecho</stringValue>
            </value>
        </filters>
        <object>Tarea__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
